.homes {
    grid-column: center-start/ center-end;
    margin: 15rem 0;

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap:7rem;

}

.home {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__img {
        width: 100%;
        grid-column: 1/-1;
        grid-row: 1/2;
        z-index: 1;
    }

    &__like {
        fill: $color-primary;
        height: 2.5rem;
        width: 2.5rem;
        margin:1rem;

        grid-column: 2/3;
        grid-row: 1/2;
        // align-items: ;
        justify-self:end ;
        z-index: 2;
    }

    &__name {
        grid-column: 1/-1;
        // grid-row: 1/2;

        width: 80%;
        justify-self: center;
        align-self: end ;
        transform: translateY(-50%);
        margin-bottom: -2rem;

        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        padding: 1.25rem;
        
        color: white;
        background-color: $color-secondary;
        z-index: 3;
    }

    .btn {
        grid-column: 1/-1;
    }

    &__location, &__rooms, &__area, &__price {
        padding: 1.25rem;
        display: flex;
        align-items: center;
        

        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
        }

        p {
            margin-left: 1.5rem;
        }
    }
}