.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 1px;
        color: $color-primary;
        margin-bottom: 2rem;
    }
}

.realtors-card {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    column-gap:2rem;

    color: $color-grey-light-1;
    margin: 1rem auto;


    &__img{
        grid-column: 1/2;
        grid-row: 1/-1;

        img {
            width: 7rem;
            height: auto ;
            border-radius: 50%;
        }
    }

    &__title {
        grid-column: 2/-1;
        grid-row: 1/2;
        align-self: end;

        font-weight: 800;
       
    }

    &__sold {
        grid-column: 2/-1;
        grid-row: 2/-1;
        margin-top:-1rem;

        text-transform: uppercase;
        font-size: 1rem;

        color: $color-grey-light-2;
    }

}

@media screen and (max-width: 767.5px){
    .realtors {
        grid-column: 1/-1;
        padding:10rem 2rem ;

        h1 {
            width: 100%;
        }
    }

    .realtors-card {
        margin: 2rem auto;
        column-gap:3rem;

        &__img img{
            width: 10rem;
        }

        &__title {
            font-size:2rem;
        }

        &__sold{
            font-size:1.3rem;
            margin-top:0;

        }
    }
}