.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
}


    
.nav-btn {
    display:none;

    &__label {
        width:30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-top: 40px;

        span {
            border: none;
            background-color: white;
            width: 30px;
            height: 2px;
            display:block;

            
            &:before,
            &::after {
                content: '';
                width: 30px;
                height: 2px;
                display: block;
                background-color: white;
            }
        
            &:before {
                transform: translateY(8px);
                transition: all 200ms ease;
            }
        
            &::after {
                transform: translateY(-10px);
                transition: all 200ms ease;
            }
        }
    }

    &:checked ~ &__label {
        
        span {
           background-color: transparent;
          
           &:before {
               transform:translateY(0px) rotate(45deg);
               transform-origin: center; 
           }

           &:after {
               transform:translateY(-2px) rotate(-45deg);
                transform-origin: center;
              
           }
        }

    } 
}


.main-nav{
    width: 0;
    height: 100vh;
    position: fixed;
    top:0px;
    left: 8rem;
    z-index: 100;

    background-color: $color-primary;
    box-shadow: 1px 0px 1px rgba(0,0,0,0.2), 8px 0px 8px rgba(0,0,0,0.3);

    &__list {
        display:flex;
        position: relative;
        left:0px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        list-style: none;
    }

    &__item {
        min-width: 30%;
    }

    &__link{
        text-decoration: none;
        text-align: center;
        

        &:link,&:visited {
            color:white;
            padding: 2rem;

            transition: all 500ms ease;

            &:hover {
                transform:scale(1.1);
            }
        }
    }
}

.nav-btn:checked ~ .main-nav {
    display: block;
    width: calc(90vw - 8rem);

    animation: menu-slide 0.5s ease;
}

.nav-btn:not(:checked) ~ .main-nav {
    animation: menu-slide-back 500ms ease;

}

@media screen and (max-width: 767.5px){
    .sidebar {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
}

@keyframes menu-slide {
    0% {
        display:block;
        opacity: 0;
        width: 0px;
    }

    1%{
        display: block;
    }

    30% {
        opacity: 1;
    }

    100%{
        width: calc(90vw - 8rem)
    }
}

@keyframes menu-slide-back {
    0% {
        // display: block!important;
        width: calc(90vw - 8rem);
        opacity: 1;   
    }

    100% {
        opacity: 0;
    }
}

.display-none {
    display:none;
}