.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
}

.nav {
    .nav-btn__label {
        border: none;
        background-color: white;
        width: 30px;
        height: 2px;
        display: block;
        position: fixed;

        margin-top: 40px;

        &:before,
        &::after {
            content: '';
            width: 30px;
            height: 2px;
            display: block;
            background-color: white;
        }

        &:before {
            transform: translateY(8px);
        }

        &::after {
            transform: translateY(-10px);
        }
    }
}

.main-nav{
    width: 0;
    height: 100vh;
    position: fixed;
    top:0px;
    left: 8rem;
    z-index: 100;

    background-color: $color-primary;
    box-shadow: 3px 0px 3px rgba(0,0,0,0.2), 5px 0px 10px rgba(0,0,0,0.3);

    &__list {
        display:flex;
        position: relative;
        left:0px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        list-style: none;
    }

    &__item {
        // width: 100%;
    }
}

.nav-btn:checked ~ .main-nav {
    display: block;
    width: calc(90vw - 8rem);

    animation: menu-slide 0.5s ease;
}

.nav-btn:not(:checked) ~ .main-nav {
    animation: menu-slide-back 500ms ease;

}

@media screen and (max-width: 767.5px){
    .sidebar {
        grid-column: 1/-1;
        grid-row: 1/2;
    }
}

@keyframes menu-slide {
    0% {
        display:block;
        opacity: 0;
        width: 0px;
    }

    1%{
        display: block;
    }

    30% {
        opacity: 1;
    }

    100%{
        width: calc(90vw - 8rem)
    }
}

@keyframes menu-slide-back {
    0% {
        // display: block!important;
        width: calc(90vw - 8rem);
        opacity: 1;   
    }

    100% {
        opacity: 0;
    }
}

.display-none {
    display:none;
}